<nav class="menu" role="nav">
	<ul>
		<li><a href="/projects/">Projects</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/colophon/">Colophon</a></li>
	</ul>
	<br/>
		<form class="site-search">
       		<input id="search" type="search" class="search-box">
		</form>
		<div id="search-results" class="search-results"></div>
	<br/>
</nav>
